@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
	font-family: Joystix Monospace-Regular;
	src: url(https://www.1001fonts.com/joystix-font.html);
}

h {
	font-family: Joystix Monospace-Regular;
}
h1 {
	font-size: 47pt;
	font-family: joystix monospace-regular;
}

h2 {
	font-size: 10pt;
}

h3 {
	font-size: 20pt;
}

h4 {
	font-size: 24pt;
}

h5 {
}

h6 {
}

p {
	font-size: 21pt;
}

a.nav {
	font-size: 10pt;
}

a.options {
	font-size: 21pt;
}
