h1 {
	font-size: 47pt;
	font-family: "lores-12", sans-serif;
	color: #fff;
}

h2 {
	font-size: 10pt;
	font-family: "lores-12", sans-serif;
	color: #fff;
}

h3 {
	font-size: 20pt;
	font-family: "lores-12", sans-serif;
	color: #fff;
}

h4 {
	font-size: 24pt;
	font-family: "lores-12", sans-serif;
	color: #fff;
}

h5 {
}

h6 {
}

p {
	font-size: 21pt;
	font-family: "lores-12", sans-serif;
	color: #fff;
}

a.nav {
	font-size: 10pt;
	font-family: "lores-12", sans-serif;
	color: #fff;
}

a.options {
	font-size: 21pt;
	font-family: "lores-12", sans-serif;
	color: #fff;
}
