@import url("https://use.typekit.net/tst2dxh.css");
body {
	margin: 0;
	font-family: "ocr-a-std", monospace;
	font-variation-settings: "wght" 400, "slnt" 1;
	background-image: url("../cyberpunk/images/background\ purpel.jpg");
	background-repeat: repeat;

	color: black;
}

.wrapperOpleiding {
	margin: 100px;
}
.wrapperVakken {
	background-image: url(../cyberpunk/images/white\ background.png);
	height: 100vh;

	& > h2 {
		margin-top: 0;
	}
}

video {
	width: 100%;
}

img:has(+ .wrapperVakken) {
	margin-bottom: -35px;
}

.opleiding {
	display: flex;
	p {
		color: #fff;
	}
	& > * {
		width: 50%;
		margin: 0 auto;
	}
	.text {
		max-width: 35%;
	}

	.afb {
		align-self: center;
		margin-top: 9%;
		img {
			width: 100%;
		}
		.arrow {
			display: flex;

			p {
				max-width: fit-content;
				padding: 0 150px;
			}
			img {
				width: 50px;
			}
			.arrow1 {
				transform: rotate(180deg);
			}
		}
	}
}

body {
	font-family: Verdana, sans-serif;
	margin: 0;
	box-sizing: border-box;
}
.mySlides {
	display: none;
}
img {
	vertical-align: middle;
}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;

	.arrow {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 5%;
		margin-bottom: 5%;
		justify-self: center;

		p {
			max-width: fit-content;
		}
		a img {
			width: 50px;
		}

		.prev {
			transform: rotate(180deg);
		}
	}
}

.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.7;
	}
	to {
		opacity: 1;
	}
}
.bannerDescription {
	position: absolute;
	bottom: 0;
	width: 50%;
}

.vakken {
	margin: 100px;
	display: flex;
	gap: 50px;
	& > * {
		width: 33.33%;
		& > * {
			display: flex;
			img {
				width: 20px;
			}
		}
	}
	.column_uno {
		.endpic {
			img {
				margin-top: 100px;
				width: 100%;
			}
		}
	}
	.column_dos {
		.endpic {
			img {
				margin-top: 30px;
				width: 100%;
			}
		}
	}
	.column_tres {
		.endpic {
			img {
				margin-top: 100px;
				width: 100%;
			}
		}
	}
	.endpic {
		img {
			width: 100%;
		}
	}
	.kolommen {
		display: flex;
		gap: 27px;

		& > * {
			width: 50%;
			& > * {
				display: flex;
			}
		}
	}
}
.form-container {
	.btn {
		all: unset;
		background-image: url(images/svg/send.svg);
		background-repeat: no-repeat;
		background-size: contain;
		width: 50%;
		height: 35px;
		margin-bottom: 45px;
		font-size: 0;
		cursor: pointer;
	}
}
