@import url("https://use.typekit.net/tst2dxh.css");
body {
	margin: 0;
	font-family: "ocr-a-std", monospace;
	background-image: url("./images/background\ purpel.jpg");
	background-repeat: repeat;
	color: #fff;

	h1 {
		padding-top: 20px;
		font-size: 40pt;
		font-family: "evolver-variable", sans-serif;
		font-style: italic;
		color: #fff;
	}
	.fotoinschrijving {
		padding-top: 10px;
	}
	h2 {
		font-family: "evolver-variable", sans-serif;
		font-variation-settings: "wght" 400, "slnt" 1;
		font-size: 28pt;
		color: #21bbb5;
	}
	h3 {
		font-size: 18pt;
		color: #ec2b77;
	}
	h4 {
		font-size: 13pt;
		color: #21bbb5;
	}
	h5 {
		font-size: 24pt;
	}
	h6 {
		font-size: 10pt;
	}
	p {
		font-style: normal;
		font-size: 12pt;
		padding-bottom: 5px;
	}
	ul li {
		font-style: normal;
		font-size: 12pt;
		padding-top: 2%;
	}

	a {
		size: 16pt;
		font-family: "ocr-a-std", monospace;
		text-decoration: underline;
		color: #e11f26;
	}
}
img,
video {
	width: 100%;
}

.hero {
	position: relative;
	width: 100%;
	min-height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero-content {
	position: absolute;
	bottom: 5%;
	left: 5%;
	max-width: 600px;
}

.hero-content h1 {
	font-size: 2rem;
	margin-bottom: 0.5rem;
	font-family: "evolver-variable", sans-serif;
	font-style: italic;
}

.hero-content p {
	font-size: 1rem;
	line-height: 1.4;
	margin: 0.5rem 0;
}

.background-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.header {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	z-index: 999;
}

.logo img {
	width: 120px;
	height: auto;
	margin: 25px;
}
.icon {
	display: none;
}
.nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	transition: background-color 0.4s ease-in-out;
}

.nav ul {
	list-style: none;
	display: flex;
	gap: 2.5rem;
	margin: 0;
	padding: 0 4% 0 0;
}

.nav li {
	display: block;
	float: right;
}

.nav li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
	font-size: 12pt;
	transition: color 0.4s ease-in-out;
	display: inline-block;
}

.nav li a:hover {
	color: #ec2b77;
}

.nav #myLinks {
	list-style: none;
	display: flex;
	gap: 2.5rem;
	margin: 0;
	padding: 10px;
}

.nav.scrolled {
	background-color: #21bbb5;
}

.inschrijven {
	padding: 0.3rem 0.6rem;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
}
.inschrijven-hover {
	display: none;
}

.inschrijven:hover {
	.button {
		display: none;
	}
	.inschrijven-hover {
		display: block;
	}
}

[class*="wrapper"] > * {
	max-width: 1200px;
	margin: 0 auto;
}

.wrapperOpleiding {
	.opleiding {
		width: 90%;
		margin: 0 auto;
		display: flex;
		gap: 50px;
		p {
			color: #fff;
		}
		& > * {
			width: 50%;
		}
		.text {
			max-width: 35%;
			h1 {
				padding-top: 50px;
			}
		}

		.afb {
			align-self: center;
			margin-top: 9%;
			img {
				width: 100%;
			}
			.arrow {
				display: flex;
				margin-top: 5%;
				justify-self: center;
				p {
					max-width: fit-content;
					padding: 0 150px;
				}
				img {
					width: 50px;
				}
				.arrow1 {
					transform: rotate(180deg);
				}
			}
		}

		.slideshow-container {
			max-width: 1000px;
			position: relative;
			margin: auto;
			padding-left: 100px;
			padding-top: 10%;

			.arrow {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-top: 5%;
				margin-bottom: 5%;
				justify-self: center;

				p {
					max-width: fit-content;
				}
				a img {
					width: 50px;
				}

				.prev {
					transform: rotate(180deg);
				}
			}
		}

		.fade {
			animation-name: fade;
			animation-duration: 1.5s;
			position: relative;

			.bannerDescription {
				position: absolute;
				margin-bottom: 12px;
				bottom: 0;
				width: 120%;
			}
		}

		@keyframes fade {
			from {
				opacity: 0.7;
			}
			to {
				opacity: 1;
			}
		}
	}
}

.wrapperVakken {
	background-image: url("./images/white\ background.png");
	min-height: 100vh;
	& > h2 {
		margin-top: 0;
		padding-top: 100px;
		margin-left: 50px;
	}

	.vakken {
		width: 90%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 50px;

		h2 {
			grid-column: 1/-1;
		}
		p {
			color: black;
		}
		& > * {
			.pijl {
				& > * {
					display: flex;
					img {
						width: 20px;
					}
				}
			}
		}
		.column_uno {
			.endpic {
				img {
					width: 100%;
				}
			}
		}

		.column_dos {
			.endpic {
				img {
					width: 100%;
				}
			}
		}
		.column_tres {
			.kolommen {
				gap: 27px;
			}
		}
	}
}
img:has(+ .wrapperVakken) {
	margin-bottom: -35px;
}

.wrapperLes > * {
	width: 90%;
	margin: 0 auto;
	grid-template-columns: repeat(6, 1fr);
	display: grid;

	.plaatsles {
		grid-column: 1 / 4;
		padding-bottom: 20%;
	}
}

.wrapperLes .map {
	grid-column: 5 / 7;
	padding-top: 0;

	align-self: center;
	justify-self: center;
}

.wrapperLes .map iframe {
	width: 100%;
	max-width: 600px;
	height: auto;
	display: block;
}
.wrapperStudie {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr 4fr;
	position: relative;
	background-image: url("./images/white\ background.png");

	.NaStudie {
		width: 90%;
		margin: 0 auto;
		grid-row: 2;
		grid-column: 4 / 6;

		h1,
		ul li,
		p {
			color: #000000;
		}
	}
}
.interview {
	padding-top: 40%;
}
.wrapperStuderen {
	width: 90%;
	margin: 0 auto;
	.flexibel-studeren,
	.verkorte-trajecten {
		padding: 20px;
		img {
			width: 100%;
		}
	}

	.content {
		display: flex;
		gap: 20px;

		img {
			max-width: 50%;
			border-radius: 0px;
			height: 100%;
			width: 100%;
		}
		.leerkracht {
			margin-top: 80px;
		}
		.text {
			flex: 1;
			max-width: 50%;
		}
	}
}
.wrapperInfodagen {
	background-image: url("./images/white\ background.png");

	width: 100%;

	.infodagen {
		width: 90%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		h1,
		p,
		li {
			color: black;
		}
	}
	.infoimg {
		border-radius: 0px;
		padding-left: 10%;
		padding-top: 30%;
	}
}
.wrapperNajeStudie {
	background-image: url("./images/white\ background.png");

	width: 100%;

	.NajeStudie {
		width: 90%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		h1,
		p,
		li {
			color: black;
		}
	}
	.infoimg {
		border-radius: 0px;
		padding-left: 10%;
		padding-top: 30%;
	}
}

.wrapperStudiekosten > * {
	width: 90%;
	margin: 0 auto;
	grid-template-columns: repeat(6, 1fr);
	display: grid;
	padding-bottom: 100px;

	.tekststudiekosten {
		grid-column: 1 / 4;

		padding-top: 50px;

		li {
			margin-left: 40px;
		}
	}

	.tabelstudiekosten {
		background-image: url("images/svg/tabel.svg");
		width: fit-content;
		margin-top: 60%;
		background-repeat: no-repeat;
		grid-column: 4/6;

		.tablecontent {
			color: #fff;
			font-size: 12pt;
			padding: 70px 35px 0 30px;
			margin-left: auto;
			margin-right: auto;
			padding-top: 5%;

			table {
				border: 1px solid #e11f26;
				border-spacing: 0;
				border-collapse: collapse;

				td {
					border-top: 1px solid #e11f26;
					border-right: 1px solid #e11f26;
				}
				td:last-child {
					border-right: 0;
				}
			}
		}
	}

	.studiefinanciering {
		grid-column: 1 / 3;
		li {
			margin-left: 40px;
		}
	}

	.Stinschrijven {
		grid-column: 5 / 7;
		a {
			margin-left: 40px;
		}
		.inschrijvenbtn {
			width: 50%;
			display: flex;
		}
	}
}

.wrapperFooter {
	background-color: #131432;
	.footer {
		width: 90%;
		margin: 0 auto;
		height: 40vh;
		display: flex;

		ul {
			padding-inline-start: 0;
		}
		.link {
			width: 33%;
			a {
				width: 80%;
				display: flex block;
				padding-top: 25px;
			}
		}

		.social {
			margin-right: 100px;
			padding-left: 50px;
			padding-top: 100px;
			width: 33%;
			img {
				width: 15%;
				padding-left: 50px;
				padding-top: 15px;
			}
		}
		.ehb {
			width: 33%;
			img {
				width: 50%;
				padding-top: 100px;
				padding-left: 50px;
			}
		}
	}
}
input[type="text"],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type="submit"] {
	background-color: #04aa6d;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}

/* niet gebruikt */
/* .popup {
	margin: 20px;
	float: right;
} 
	.chat h3 {
	font-size: 16pt;
}

.chat h4 {
	font-family: ocr-a-std, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 18pt;
}
	.NaStudie2 {
	grid-column: 2/5;
}
	*/
.active {
	color: #e11f26;
	text-decoration: underline;
}
/* Open chat-knop rechtsonder */
.open-button {
	color: white;
	padding: 0;
	border: none;
	cursor: pointer;

	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 100px;
	height: 50px;
	margin-bottom: 30px;
}

.open-button img {
	width: 100%;
	height: auto;
}
.tabs {
	margin-top: 35px;
}

/* De popup zelf (standaard verborgen) */
.chat-popup {
	display: none;
	position: fixed;
	bottom: 80px; /* komt vlak boven de open-button */
	right: 28px;

	z-index: 9;
	background-image: url("./images/svg/background-chat.svg");
	width: 400px; /* vaste breedte */

	background-repeat: no-repeat;

	background-size: cover;
}
.closebutton {
	position: absolute;
	top: 45px; /* Plaatst de knop op dezelfde hoogte als de H1 */
	right: 5px; /* Zorgt dat deze netjes rechts staat */
	border: none;
	cursor: pointer;
	opacity: 0.8;
	width: 10%;
	margin: 0;
}
/* Formulierelementen in de popup */
.form-container {
	display: flex;
	flex-direction: column; /* stapel labels/inputs onder elkaar */
	margin-left: 50px;
	color: white;

	.btn {
		all: unset;
		color: transparent;
		background-image: url(images/svg/send.svg);
		background-repeat: no-repeat;
		background-size: contain;
		width: 50%;
		height: 35px;
		margin-bottom: 45px;
		font-size: 0;
		cursor: pointer;
	}
}
.chattekst {
	padding-top: 40px;
	width: 88%;

	display: flex;
}
.chattekst h1 {
	font-size: 1.5rem;

	width: 30%;
}
.chattekst p {
	padding-top: 25px;
	width: 50%;
	font-family: "ocr-a-std", monospace;
}

/* Rij voor Naam en Voornaam naast elkaar */
.row {
	display: flex;
	justify-content: space-between;
	width: 88%;
}

.field {
	display: flex;
	flex-direction: column;
	width: 42%;
}

label {
	margin-bottom: 4px;
	font-family: "ocr-a-std", monospace;
}

input[type="text"],
input[type="email"],
textarea {
	background-color: #38beb5;
	border: none;
	padding: 8px;
	margin-bottom: 10px;
	resize: none;
	outline: none;
	color: #000;
}

/* Breder tekstvak voor de vraag */
textarea {
	height: 60px;
}

/* Volledige breedte voor enkelvoudige velden (E-mail, Vraag) */
.single-field {
	display: flex;
	flex-direction: column;
	width: 88%;
	margin-bottom: 10px;
}

/* De knoppen in het formulier */
.btn {
	border: none;
	cursor: pointer;
	width: 50%;
	margin-bottom: 50px;
	opacity: 0.8;
}
.btn.cancel {
	width: 50%;
}
.btn:hover,
.open-button:hover {
	opacity: 1;
}
.vakken h2 {
	padding-top: 5%;
	margin-bottom: 0%;
}
.plaatsles h2 {
	margin-bottom: 0%;
}
.flexibelstuderen h1 {
	margin-bottom: 0%;
}
.verkorte-trajecten h2 {
	margin-bottom: 0%;
}
.opleiding h1,
h2,
h3 {
	margin-bottom: 0%;
}
.hover_image:hover {
	text-decoration: none;
}
.hide {
	display: none;
}
.hover_image:hover img:first-child {
	display: none;
}
.hover_image:hover img:last-child {
	display: inline-block;
}
@media (max-width: 480px) {
	.nav {
		overflow: hidden;
		background-color: none;
		position: relative;
	}

	.nav #myLinks {
		display: none;
	}

	.nav a {
		color: white;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		display: block;
	}

	.nav a.icon {
		color: #ec2b77;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

	.nav a:hover {
		background-color: #ddd;
		color: black;
	}
	@media (max-width: 480px) {
		img {
			display: block;
		}

		.opleiding {
			flex-direction: column;
		}

		.wrapperOpleiding {
			& .opleiding {
				.text {
					max-width: 100%;
					width: 100%;
				}
				.slideshow-container {
					padding-left: 0;
					.arrow {
						align-content: center;
						a {
							height: fit-content;
						}
						p {
							text-align: center;
						}
					}
				}
				& > * {
					max-width: 100%;
					width: 100%;
				}
			}
		}
		img:has(+ .wrapperVakken) {
			margin-bottom: -40px;
		}
		.wrapperVakken {
			h2 {
				margin-block: 0.83em;
			}
			& .vakken {
				display: block;
			}
		}
	}
	.wrapperLes > * {
		width: 90%;
		margin: 0 auto;
		display: block;
	}
	.map {
		width: 450px;
		height: 375px;
	}
	.wrapperNajeStudie {
		.NajeStudie {
			width: 90%;
			margin: 0 auto;
			display: block;
		}
	}
	.interview {
		padding-top: 0%;
	}
	.wrapperInfodagen {
		.infodagen {
			width: 90%;
			margin: 0 auto;
			display: block;
		}
	}
	.wrapperInfodagen {
		.infoimg {
			border-radius: 0px;
			padding-left: 0%;
			padding-top: 0%;
		}
	}
	.wrapperStuderen {
		.content {
			flex-direction: column;
			img {
				max-width: 100%;
				margin-top: 1rem;
			}
			.text {
				max-width: 100%;
			}
		}
		.verkorte-trajecten .content {
			flex-direction: column;
		}
	}

	/* Nogmaals infodagen (wrapperInfodagen) /
	  .wrapperInfodagen {
		.infodagen {
		  grid-template-columns: 1fr; / Eén kolom */
	.infoimg {
		padding-left: 0;
		padding-top: 0;
		order: 2;
		width: 100%;
	}
	.text {
		order: 1;
	}

	.wrapperFooter {
		.footer {
			flex-direction: column;
			height: auto;
			gap: 2rem;
			padding: 2rem 1rem;

			.link,
			.social,
			.ehb {
				width: 100%;
			}
			.social {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				padding: 0;
				img {
					width: 30px;
					margin: 0.5rem;
				}
			}
			.ehb {
				img {
					width: 150px;
					margin: 0 auto;
				}
			}
		}
	}
	.wrapperFooter {
		.footer {
			flex-direction: column;
			height: auto;
			gap: 2rem;
			padding: 2rem 1rem;

			.link,
			.social,
			.ehb {
				width: 100%;
			}
			.social {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				padding: 0;
				img {
					width: 60px;
					margin: 0.5rem;
				}
			}
			.ehb {
				img {
					width: 200px;
					margin-left: 65px;
				}
			}
		}
	}
	.wrapperStudiekosten > * {
		width: 100%;

		grid-template-columns: 1;
		display: grid;

		.tekststudiekosten {
			grid-column: 1 / 1;
		}
		.h1 {
			font-size: 10pt;
		}

		.tabelstudiekosten {
			margin-top: 50px;

			background-size: 90%;
			grid-column: 1/1;

			.tablecontent {
				color: #fff;
				font-size: 8pt;
				padding: 0px;
				margin: 25px 50px 0px 0px;
			}
		}

		.studiefinanciering {
			grid-column: 1 / 1;
		}

		.Stinschrijven {
			grid-column: 1 / 1;
		}
	}
}
