/* Reset van marges/padding */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/* Open chat-knop rechtsonder */
.open-button {
	color: white;
	padding: 0;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 100px;
	height: 50px;
}

.open-button img {
	width: 100%;
	height: auto;
}

/* De popup zelf (standaard verborgen) */
.chat-popup {
	display: none;
	position: fixed;
	bottom: 80px; /* komt vlak boven de open-button */
	right: 28px;

	z-index: 9;
	background-image: url("../cyberpunk/images/svg/background-chat.svg");
	width: 400px; /* vaste breedte */

	background-repeat: no-repeat;

	background-size: cover;
}

/* Formulierelementen in de popup */
.form-container {
	display: flex;
	flex-direction: column; /* stapel labels/inputs onder elkaar */

	color: white;
}

.form-container h1 {
	margin-left: 70px;
	margin-top: 50px;
	font-size: 1.5rem;
	margin-bottom: 0.2rem;
}
.form-container p {
	margin-bottom: 1rem;
}

/* Rij voor Naam en Voornaam naast elkaar */
.row {
	display: flex;
	justify-content: space-between;
}

.field {
	display: flex;
	flex-direction: column;
	width: 48%;
}

label {
	margin-bottom: 4px;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
	background-color: #38beb5;
	border: none;
	padding: 8px;
	margin-bottom: 10px;
	resize: none;
	outline: none;
	color: #000;
}

/* Breder tekstvak voor de vraag */
textarea {
	height: 60px;
}

/* Volledige breedte voor enkelvoudige velden (E-mail, Vraag) */
.single-field {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 10px;
}

/* De knoppen in het formulier */
.btn {
	background-color: #04aa6d;
	color: white;
	padding: 12px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
	font-size: 1rem;
	border-radius: 3px;
}
.btn.cancel {
	background-color: red;
}
.btn:hover,
.open-button:hover {
	opacity: 1;
}
