@import url("https://use.typekit.net/tst2dxh.css");
body {
	margin: 0;
	font-family: "evolver-variable", sans-serif;
	font-variation-settings: "wght" 400, "slnt" 1;
	background-image: url("../cyberpunk/images/background\ purpel.jpg");
	background-repeat: repeat;

	color: #fff;
}

.wrapperLes {
	width: 80%;
	margin: 0 auto;
	grid-template-columns: repeat(7, 1fr);
	display: grid;
}
.plaatsles {
	grid-column: 1 / 5;
	padding-bottom: 20%;
}

iframe {
	grid-column: 5/8;
	padding-top: 30%;
	padding-left: 8%;
}
.footer {
	background-color: #131432;
	margin: 0;
	height: 40vh;
	width: 100%;
	display: flex;
}

.link {
	width: 33%;
	a {
		width: 80%;
		display: flex block;
		padding-top: 25px;
	}
}

.social {
	margin-right: 100px;
	padding-left: 50px;
	padding-top: 50px;
	width: 33%;
	img {
		width: 15%;
		padding-left: 50px;
		padding-top: 10px;
	}
}
.ehb {
	width: 33%;
	img {
		width: 50%;
		padding-top: 50px;
		padding-left: 50px;
	}
}

h2 {
	font-size: 18pt;
	margin-left: 10px;
	padding-left: 20px;
}

h4 {
	font-size: 18pt;
}

h1 {
	font-size: 40pt;
	font-family: "evolver-variable", sans-serif;
	color: #36bdb4;
	font-style: italic;
}

h3 {
	font-size: 20pt;
	font-variation-settings: "wght" 300, "slnt" -11;
}

h5 {
	font-family: ocr-a-std, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 11pt;
}

h6 {
	font-family: ocr-a-std, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 12pt;
}

.chat h2 {
	font-size: 45pt;
}

.chat h3 {
	font-size: 16pt;
}

.chat h4 {
	font-family: ocr-a-std, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 18pt;
}

ul li {
	font-family: ocr-a-std, monospace;
	font-style: normal;
	font-size: 12pt;
	padding-top: 2%;
}

a {
	size: 16pt;
	font-family: ocr-a-std, monospace;
	text-decoration: none;
	color: #36bdb4;
}
.wrapperStudie {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 1fr 4fr;
	position: relative;
	background-image: url("../cyberpunk/images/white\ background.png");
}
.NaStudie {
	grid-row: 2;
	grid-column: 5 / 7;
}
.NaStudie h2 {
	color: #ec2b77;
}
.NaStudie ul li {
	color: #000000;
	font-size: 12pt;
}
.NaStudie p {
	color: #000000;
	font-size: 12pt;
}
.NaStudie2 {
	grid-column: 2/5;
}
.interview {
	grid-row: 2;
	grid-column: 2/5;
}
