/* BUTTONS */

.btn-primary {
	color: #fff;

	img {
		width: 10%;
		position: absolute;
	}
	span {
		display: block;
		margin-top: 25px;
		margin-left: 40px;
	}
}
/* .btn-primary:hover {
	color: #ec2b77;
	img {
		display: none;
	}
} */

.btn-secondary {
	background-color: #36bdb4;
	padding: 40px 10px;
	border-radius: 10px;
	color: #fff;
	margin: 100px;
}
